html {
	min-height: 100%;
	font-size: 14px;
	font-family: calibri;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth; // Added in from answer from Felix
    overflow-x: scroll;
}

body {
	min-height: 100%;
	background-color: #f9fbfa;
    transition-duration: 0.2s;
}

menu {
	height: 2.5rem;
	background-color: #99cbba;
	text-align: center;
	position: fixed;
    width: 100%;
    font-weight: bold;	
}

menu li {
	display: inline-block;
}

menu a {
    display: inline-block;
    height: 100%;
    line-height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: white;
}

menu a:hover {
    color: #e46c59;
}

#home {
	padding-top: 3.5rem;
}

section {
	padding: 1rem;
    transition-duration: 0.2s;
}

section:nth-child(odd) {
	background-color: #d7d0c4;
}

section:nth-child(odd) h1 {
	color: #e46c59;
}

section:nth-child(even) {
	background-color: whitesmoke;
}

section > h1 {
    font-weight: bold;
    font-size: xx-large;
    color: #fac778;
}

section > header {
	margin: 2rem;
	color: #e46c59;
}

section h2 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

section h3 {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

p {
	text: left;
}

@media (max-width: 600px) {
	menu {
		position: fixed;
		height:100%;
		text-align: left;
		width: 100%;
		background-color: transparent;
	}

	menu > ul {
		display: inline-block;
		width: 9rem;
		background-color: #99cbba;
		text-align: left;
		height: 100%;
		box-shadow: 1px 0px 20px 1px grey;
		transform: translateX(-9rem);
		z-index: 100;
    	position: relative;
    	transition-duration: 0.2s;
	}

	menu.opened ul {
		transform: translateX(0);
	}


	.menu-icon {
		background: url("./menu.svg") center center;
		background-repeat: no-repeat;
		height: 2rem;
		width: 2rem;
		top: 0.5rem;
	    left: 0.5rem;
	    position: absolute;
	}
}