html {
	height: 100%;
	font-size: 14px;
	font-family: calibri;
}

body {
	height: 100%;
	background-color: #f9fbfa;
}

menu {
	height: 2.5rem;
	background-color: #99cbba;
	text-align: center;
	position: fixed;
    width: 100%;
    font-weight: bold;	
}

menu > a {
    display: inline-block;
    height: 100%;
    line-height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: white;
}

menu > a:hover {
    color: #e46c59;
}

#home {
	padding-top: 3.5rem;
}

#agenda, #location, #accommodation, #transportation {
	display: none;
}

section {
	padding: 1rem;
}

section:nth-child(odd) {
	background-color: #d7d0c4;
}

section:nth-child(even) {
	background-color: whitesmoke;
}

section > h1 {
    font-weight: bold;
    font-size: xx-large;
    color: #fac778;
}

section > header {
	margin: 2rem;
	color: #e46c59;
}

section h2 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

section h3 {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

p {
	text: left;
}